
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 174 100% 9%;

    --card: 0 0% 100%;
    --card-foreground: 174 100% 9%;

    --popover: 0 0% 100%;
    --popover-foreground: 174 100% 9%;

    --primary: 174 100% 17%;
    --primary-foreground: 0 0% 100%;

    --secondary: 174 100% 9%;
    --secondary-foreground: 0 0% 100%;

    --muted: 174 50% 95%;
    --muted-foreground: 174 30% 40%;

    --accent: 63 100% 43%;
    --accent-foreground: 174 100% 9%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 86% 97%;

    --border: 174 50% 90%;
    --input: 174 50% 90%;
    --ring: 63 100% 43%;

    --radius: 0.5rem;

    --sidebar-background: 174 100% 9%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 174 100% 9%;
    --sidebar-accent: 174 100% 17%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 174 100% 17%;
    --sidebar-ring: 63 100% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
