
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 258 90% 66%;

    --card: 0 0% 100%;
    --card-foreground: 258 90% 66%;

    --popover: 0 0% 100%;
    --popover-foreground: 258 90% 66%;

    --primary: 258 90% 66%;
    --primary-foreground: 0 0% 100%;

    --secondary: 258 90% 66%;
    --secondary-foreground: 0 0% 100%;

    --muted: 258 30% 95%;
    --muted-foreground: 258 30% 40%;

    --accent: 258 90% 70%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 86% 97%;

    --border: 258 30% 90%;
    --input: 258 30% 90%;
    --ring: 258 90% 70%;

    --radius: 0.5rem;

    --sidebar-background: 258 90% 66%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 258 90% 66%;
    --sidebar-accent: 258 90% 70%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 258 90% 70%;
    --sidebar-ring: 258 90% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
